<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089503911104-95kg8s7m0bqvv16kk1e3u6c78ic25i1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089503911104-95kg8s7m0bqvv16kk1e3u6c78ic25i1q</string>
	<key>API_KEY</key>
	<string>AIzaSyARuEoNj6PddsORF9Yl8wd7Vrnx-r66F4k</string>
	<key>GCM_SENDER_ID</key>
	<string>1089503911104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Katsiaryna-Kulik.ToDoFIRE</string>
	<key>PROJECT_ID</key>
	<string>todofire-3d146</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-3d146.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089503911104:ios:f501499cd655c969786125</string>
</dict>
</plist>